*.0 filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.APACHE filter=lfs diff=lfs merge=lfs -text
*.BSD filter=lfs diff=lfs merge=lfs -text
*.BUILD filter=lfs diff=lfs merge=lfs -text
*.LESSER filter=lfs diff=lfs merge=lfs -text
*.MPL2 filter=lfs diff=lfs merge=lfs -text
*.TXT filter=lfs diff=lfs merge=lfs -text
*.afm filter=lfs diff=lfs merge=lfs -text
*.ani filter=lfs diff=lfs merge=lfs -text
*.api filter=lfs diff=lfs merge=lfs -text
*.arff filter=lfs diff=lfs merge=lfs -text
*.asciipb filter=lfs diff=lfs merge=lfs -text
*.asp filter=lfs diff=lfs merge=lfs -text
*.avsc filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.bazel filter=lfs diff=lfs merge=lfs -text
*.bazelrc filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.build filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.bzl filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.chm filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.cmd filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.crt filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.cu filter=lfs diff=lfs merge=lfs -text
*.cuh filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.doxyfile filter=lfs diff=lfs merge=lfs -text
*.egg-link filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.f filter=lfs diff=lfs merge=lfs -text
*.f2py_f2cmap filter=lfs diff=lfs merge=lfs -text
*.f90 filter=lfs diff=lfs merge=lfs -text
*.fb filter=lfs diff=lfs merge=lfs -text
*.feather filter=lfs diff=lfs merge=lfs -text
*.file filter=lfs diff=lfs merge=lfs -text
*.fits filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.gin filter=lfs diff=lfs merge=lfs -text
*.gitattribute filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.gitkeep filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.gzip filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.htm filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.idl filter=lfs diff=lfs merge=lfs -text
*.idx filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.inc filter=lfs diff=lfs merge=lfs -text
*.index filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.jsc filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.key filter=lfs diff=lfs merge=lfs -text
*.kml filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.lua filter=lfs diff=lfs merge=lfs -text
*.lzma filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.mesh filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.metainfo filter=lfs diff=lfs merge=lfs -text
*.mjs filter=lfs diff=lfs merge=lfs -text
*.mo filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.mplstyle filter=lfs diff=lfs merge=lfs -text
*.nc filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.orc filter=lfs diff=lfs merge=lfs -text
*.pack filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pbtxt filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.pem filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.po filter=lfs diff=lfs merge=lfs -text
*.ppm filter=lfs diff=lfs merge=lfs -text
*.prettierignore filter=lfs diff=lfs merge=lfs -text
*.prettierrc filter=lfs diff=lfs merge=lfs -text
*.proto filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.pxd filter=lfs diff=lfs merge=lfs -text
*.pxi filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
*.pyf filter=lfs diff=lfs merge=lfs -text
*.pyi filter=lfs diff=lfs merge=lfs -text
*.pys filter=lfs diff=lfs merge=lfs -text
*.pyx filter=lfs diff=lfs merge=lfs -text
*.qm filter=lfs diff=lfs merge=lfs -text
*.qml filter=lfs diff=lfs merge=lfs -text
*.qmlc filter=lfs diff=lfs merge=lfs -text
*.qmltypes filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.rcfile filter=lfs diff=lfs merge=lfs -text
*.record filter=lfs diff=lfs merge=lfs -text
*.rng filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
*.sample filter=lfs diff=lfs merge=lfs -text
*.sav filter=lfs diff=lfs merge=lfs -text
*.screenrc filter=lfs diff=lfs merge=lfs -text
*.sct filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.sip filter=lfs diff=lfs merge=lfs -text
*.sip5 filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.tab filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.td filter=lfs diff=lfs merge=lfs -text
*.tex filter=lfs diff=lfs merge=lfs -text
*.tfrecord filter=lfs diff=lfs merge=lfs -text
*.tmpl filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.tpl filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.typed filter=lfs diff=lfs merge=lfs -text
*.v2 filter=lfs diff=lfs merge=lfs -text
*.vbs filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.xrc filter=lfs diff=lfs merge=lfs -text
*.xsl filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.z filter=lfs diff=lfs merge=lfs -text
*.zi filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
